/RecklessSpeech.Application.Write.Sequences.Tests/.vs/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/obj/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/bin/*
/.vs/*
/.idea/*
/RecklessSpeech.Application.Write.Sequences.Tests/bin/*
/RecklessSpeech.Application.Write.Sequences.Tests/obj/*
/RecklessSpeech.Domain.Shared/bin/*
/RecklessSpeech.Domain.Shared/obj/*
/RecklessSpeech.sln.DotSettings.user
/RecklessSpeech.Application.Write.Sequences/bin/*
/RecklessSpeech.Application.Write.Sequences/obj/*
/RecklessSpeech.Domain.Sequences/bin/*
/RecklessSpeech.Domain.Sequences/obj/*
/RecklessSpeech.Infrastructure.Sequences.Tests/obj/*
/RecklessSpeech.Infrastructure.Sequences.Tests/bin/*
/RecklessSpeech.Shared.Tests/obj/*
/RecklessSpeech.Shared.Tests/bin/*
/RecklessSpeech.Infrastructure.Databases/bin/*
/RecklessSpeech.Infrastructure.Databases/obj/*
/RecklessSpeech.Infrastructure.Entities/bin/*
/RecklessSpeech.Infrastructure.Entities/obj/*
/RecklessSpeech.Infrastructure.Orchestration/bin/*
/RecklessSpeech.Infrastructure.Orchestration/obj/*
/RecklessSpeech.Infrastructure.Sequences/bin/*
/RecklessSpeech.Infrastructure.Sequences/obj/*
/RecklessSpeech.AcceptanceTests/bin/*
/RecklessSpeech.AcceptanceTests/obj/*
/RecklessSpeech.Web/obj/*
/RecklessSpeech.Web/bin/*
/RecklessSpeech.Application.Core/obj/*
/RecklessSpeech.Application.Core/bin/*
