/RecklessSpeech.Application.Write.Sequences.Tests/.vs/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/obj/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/bin/*
/.vs/*
/.idea/*
/RecklessSpeech.Application.Write.Sequences.Tests/bin/*
/RecklessSpeech.Application.Write.Sequences.Tests/obj/*
/RecklessSpeech.Domain.Shared/bin/*
/RecklessSpeech.Domain.Shared/obj/*
/RecklessSpeech.sln.DotSettings.user
/RecklessSpeech.Application.Write.Sequences/bin/*
/RecklessSpeech.Application.Write.Sequences/obj/*
/RecklessSpeech.Domain.Sequences/bin/*
/RecklessSpeech.Domain.Sequences/obj/*
/RecklessSpeech.Infrastructure.Sequences.Tests/obj/*
/RecklessSpeech.Infrastructure.Sequences.Tests/bin/*
/RecklessSpeech.Shared.Tests/obj/*
/RecklessSpeech.Shared.Tests/bin/*
/RecklessSpeech.Infrastructure.Databases/bin/*
/RecklessSpeech.Infrastructure.Databases/obj/*
/RecklessSpeech.Infrastructure.Entities/bin/*
/RecklessSpeech.Infrastructure.Entities/obj/*
/RecklessSpeech.Infrastructure.Orchestration/bin/*
/RecklessSpeech.Infrastructure.Orchestration/obj/*
/RecklessSpeech.Infrastructure.Sequences/bin/*
/RecklessSpeech.Infrastructure.Sequences/obj/*
/RecklessSpeech.AcceptanceTests/bin/*
/RecklessSpeech.AcceptanceTests/obj/*
/RecklessSpeech.Web/obj/*
/RecklessSpeech.Web/bin/*
/RecklessSpeech.Application.Core/obj/*
/RecklessSpeech.Application.Core/bin/*
/RecklessSpeech.Application.Read/obj/*
/RecklessSpeech.Application.Read/bin/*
/RecklessSpeech.Infrastructure.Read/obj/*
/RecklessSpeech.Infrastructure.Read/bin/*
/RecklessSpeech.Infrastructure.Read.Tests/obj/*
/RecklessSpeech.Infrastructure.Read.Tests/bin/*
/RecklessSpeech.Application.Write.Notes.Tests/obj/*
/RecklessSpeech.Application.Write.Notes.Tests/bin/*
/RecklessSpeech.Front.WPF.App/bin/*
/RecklessSpeech.Front.WPF.App/debug/*
/RecklessSpeech.Front.WPF.App/obj/*
/RecklessSpeech.Front.Tests/bin/*
/RecklessSpeech.Front.Tests/debug/*
/RecklessSpeech.Front.Tests/obj/*
/RecklessSpeech.Packaging/bin/*
/RecklessSpeech.Packaging/obj/*
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/obj/*
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/.vs/RecklessSpeech.Front.WPF/v17/*
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/.vs/RecklessSpeech.Front.WPF/FileContentIndex/*
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/bin/
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/bin/
/RecklessSpeech.Front/RecklessSpeech.Front.WPF/.vs/
/RecklessSpeech.AcceptanceTests/Features/LanguageDictionaries/GetAllLanguageDictionaries.feature.cs
/RecklessSpeech.Infrastructure.Daos/bin/*
/RecklessSpeech.Infrastructure.Daos/obj/*
/backend_publish/*
/RecklessSpeech.Web.AcceptanceTests/bin/*
/RecklessSpeech.Web.AcceptanceTests/obj/*
/RecklessSpeech.Application.Write.Questioner/bin/*
/RecklessSpeech.Application.Write.Questioner/obj/*
/RecklessSpeech.Domain.Questioner/bin/*
/RecklessSpeech.Domain.Questioner/obj/*
/RecklessSpeech.Infrastructure.Questioner/bin/*
/RecklessSpeech.Infrastructure.Questioner/obj/*
/RecklessSpeech.Front.Wpf/obj/*
/RecklessSpeech.Front.Wpf/bin/*
