/RecklessSpeech.Application.Write.Sequences.Tests/.vs/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/obj/*
/RecklessSpeech.Application.Write.Sequences.Tests/RecklessSpeech/bin/*
/.vs/*
/.idea/*
/RecklessSpeech.Application.Write.Sequences.Tests/bin/*
/RecklessSpeech.Application.Write.Sequences.Tests/obj/*
/RecklessSpeech.Domain.Shared/bin/*
/RecklessSpeech.Domain.Shared/obj/*
/RecklessSpeech.sln.DotSettings.user
/RecklessSpeech.Application.Write.Sequences/bin/*
/RecklessSpeech.Application.Write.Sequences/obj/*
/RecklessSpeech.Domain.Sequences/bin/*
/RecklessSpeech.Domain.Sequences/obj/*
