<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <thead>
    <tr>
        <th scope="col"><span style="font-size:16px"><span style="color:#d69d85">Peux tu expliquer le sens du mot n&eacute;&eacute;rlandais {{word}} dans les phrases suivantes ?</span><br/>
            <span style="color:#27ae60">&quot;{{sentence}}&quot;</span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span style="font-size:14px"><span
                style="font-family:Times New Roman,Times,serif">{{explanation}}</span></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>